.HaveHeartTwo {
	font-family: HaveHeartTwo;
}.HaveHeartSwash {
	font-family: HaveHeartSwash;
}.HaveHeartOne {
	font-family: HaveHeartOne;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #logo {
    margin: 0 90px;
  }
  #countdown {
    display: none;
  }
  h1 {
    margin-top: 6rem !important;
    font-size: 4rem !important; 
  }
  #vid {
    margin: -10rem auto 1rem auto;
    width: 100%;
  }
  .nav-pills {
    margin: 2rem 0 -5rem 12rem;
    width: 50%;
  }
  .nav-link {
    font-size: .75rem;
  }
  .challenge {
    margin-top: 5rem;
  }
  .glass {
    width: 100% !important;
  }
  .bg-glory {
    margin-top: 3rem;
    width: 105%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #logo {
    margin: 0 0;
  }
  #countdown {
    display: block;
  }
  h1 {
    margin-top: 6rem !important;
    font-size: 6rem !important; 
  }
  #vid {
    margin: -10rem auto 1rem auto;
    width: 50% !important;
  }
  .nav-pills {
    margin: 2rem 0 -1rem 30rem;
    width: 30%;
  }
  .nav-link {
    font-size: .75rem;
  }
  .bg-glory {
    margin-top: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    margin-top: 1rem !important;
    font-size: 6rem !important; 
  }
  #vid {
    margin: -10rem auto 1rem auto;
    width: 50% !important;
  }
  .nav-pills {
      margin: 4rem 0 -1rem 4rem;
      width: 80%;
    }
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #vid {
    margin: -10rem auto 1rem auto;
    width: 100% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
  font-size: 5.5rem !important; 
  }
}

#header {
    margin: 0 !important;
    position: fixed;
    width: 100%;
    z-index: 99;
}

h1 {
  font-family: HaveHeartOne, "Permanent Marker";
}

h2 {
  font-size: 1.75rem !important;
}

h2,h3,h4 {
  font-family: 'TradeGothicLTPro-BdCn20'; 
	font-weight: normal; 
	font-style: normal;
  text-transform: uppercase;
}

p {
  font-family: "Merriweather Sans", sans-serif;
}

span {
  font-size: .75rem;
  font-style: italic;
}

.have-heart {
  font-family: HaveHeartOne, "Permanent Marker";
  font-size: 6rem !important;
  text-transform: none;
}

.navbar {
    height: 140px;
}

.navbar ul {
    list-style-type: none;
    margin-bottom: 35px;
    text-align: right;
}

.nav-item {
    color: #ffffff;
    font-family: "Merriweather Sans", sans-serif;
    margin: 5px;
}

.nav-item h2 {
  font-size: 1.5rem !important;
}

.navbar-brand img {
    margin-bottom: -40px;
}

.centered {
  margin-top: 6rem;
}

body {
  background-color: #000000 !important;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.stat {
  font-size: 2rem;
  margin: 10px;
}

.bg-black {
  background-color: #000000 !important;
}

.nav.flex-column {
  background-color: #303030;
  border-radius: 10%;
}

.nav-link.active {
  background-color: #505050 !important;
  color: #ffffff !important;
}

.nav-link {
  background-color: #303030 !important;
  border-radius: 5px 5px 0 0;
}

.nav-link:hover {
  margin-left: -10px;
  transition: ease-in-out .5s;
}

a {
  color: #ffffff !important;
}

/* .bg-glory {
  background-color: #ef333b;
  content: " ";
  display: block;
  height: 250px; 
  margin: 2rem auto 0 auto;
  position: absolute;
  transform: skewY(-6deg) !important;
  z-index: 1;
} */
.bg-glory {
  background-image: linear-gradient(to bottom, #ba0c2f, #ba0c2f 50%, #ef333b 50%);
  /* background-attachment:fixed; */
  background-repeat: no-repeat;
  content: " ";
  display: block;
  position: absolute;
  transform: skewY(-6deg) !important;
  width: 105% !important;
  z-index: 1;
}

/* .bg-bulldawg {
  background-color: #ba0c2f;
  content: " ";
  display: block;
  height: 250px; 
  margin: 0 auto 8rem auto;
  position: relative;
  transform: skewY(-6deg) !important;
  z-index: 1;
} */

.text-white {
    height: 1200px;
    margin-top: 140px;
}

.diagonal {	
   position: relative;
}

.diagonal .column {
  margin-top: 4rem;
  transform: skewY(6deg);
}

.challenge {
  border: 1px #505050 solid;
  border-radius: 10px;
  padding: 1rem 1rem 2rem 1rem;
  margin: 5px;
}

.separator {
  margin-top: 4rem;
}

#logo {
  transition: ease-in-out 0.5s;
}

.modal-dialog {
  margin: 1rem auto !important;
}

.sticker {
  width: 100%;
}

#vid {
  z-index: 98;
}

.countdown-wrap {
    width: 100%;
    font-family: "Merriweather Sans", sans-serif;
    height: 120px;
    padding: 20px;
  }
  
  .goal {
    font-size: 1.5rem;
    text-align: right;
    color: #FFF;
    @media only screen and (max-width : 640px) {
      text-align: center;  
    }
    
  }
  
  .glass {
    width: 100%;
    height: 20px;
    background: #c7c7c7;
    border-radius: 10px;
    float: left;
    overflow: hidden;
  }
  
  #progress01 {
    float: left;
    width: 1%;
    height: 20px;
    background: #ba0c2f;
    z-index: 333;

  }

  #progress02 {
    float: left;
    width: 16%;
    height: 20px;
    background: #ba0c2f;
    z-index: 333;
 
  }

  #progress03 {
    float: left;
    width: 80%;
    height: 20px;
    background: #ba0c2f;
    z-index: 333;
  
  }
  
  .goal-stat {
    width: 25%;
    height: 30px;
    padding: 10px;
    float: left;
    margin: 0;
    color: #FFF;
    
    @media only screen and (max-width : 640px) {
      width: 50%;
      text-align: center;
    }
  }
  
  .goal-number, .goal-label {
    display: block;
  }
  
  .goal-number {
    font-weight: bold;
  }

  .goal-label {
    margin-bottom: .5rem;
  }

  .btn-danger {
    background-color: #ef333b !important;
    margin-top: 10px;
  }

  .btn-danger:hover {
    background-color: #ba0c2f !important;
  }

  .btn-danger a:hover {
    text-decoration: none;
  }

  .hidden {
    display: none !important;
    transition: ease-in-out 2s;
  }

  .jumbotron {
    background-color: #000000 !important;
  }