.HaveHeartTwo {
	font-family: HaveHeartTwo;
}.HaveHeartSwash {
	font-family: HaveHeartSwash;
}.HaveHeartOne {
	font-family: HaveHeartOne;
}

/* for i0s mobile */
  #header {
    top: 0px !important;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button {
    margin-top: -10px;
    text-align: right !important;
  }
  .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
  #totalGiftAmt {
    /* display: none; */
    margin-top: 2rem;
  }
  #logo {
    /* margin: 0 40px; */
    max-height: 150px;
    top: 0px;
  }
  #countdown {
    display: none;
  }
  #topBtn .btn-dark {
    background-color: rgb(0,0,0,.75) !important;
    border: 1px #fff solid !important;
  }

  h1 {
    margin-top: 2rem !important;
    font-size: 3.25rem !important; 
  }
  h2 {
    font-size: 1.3rem !important;
  }
  h3 {
    font-size: 1.25rem !important;
  }
  #vid {
    margin: -6rem auto 1rem auto;
    width: 100%;
  }
  .nav-pills {
    margin: 2rem 0 -5rem 12rem;
    width: 50%;
  }
  .nav-link {
    font-size: .75rem;
  }
  .challenge {
    margin-top: 5rem;
    padding: 10px;
  }
  .glass {
    width: 100% !important;
  }
  .bg-glory {
    margin-top: 3rem;
    width: 105%;
  }
  /* .btn-danger {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  } */
  .goal-stat {
    margin: 0 8px !important;
  }
  .finePrint {
    margin-top: 2.5rem;
  }
  /* .giveBtn .btn {
    margin-top: 2rem !important;
    margin-left: 3.5rem;
  } */
  #countycontainer .highcharts-legend-item text {
    display: none;
  }
  #vidModal {
    top: -140px !important;
    margin: -30px auto 0 auto;
  }

  .align-right {
    text-align: center;
  }
  .align-left {
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #logo {
    margin: 0 0 !important;
  }
  #countdown {
    display: block;
  }
  #topBtn .btn-dark {
    background-color: rgb(0,0,0,.75) !important;
    border: 1px #fff solid !important;
    margin-top: 20px;
  }
  h1 {
    margin-top: 6rem !important;
    font-size: 6rem !important; 
  }
  #vid {
    margin: -8rem auto 1rem auto;
    width: 50% !important;
  }
  .nav-pills {
    margin: 2rem 0 -1rem 30rem;
    width: 30%;
  }
  .nav-link {
    font-size: .75rem;
  }
  .bg-glory {
    margin-top: 3rem;
  }
  .giveBtn .btn {
    float: right;
  }
  .challenge {
    padding: 15px !important;
  }
  #USMAP g {
    margin: 0 auto !important;
  }
  .btn-danger {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  #vidModal {
    top: -150px !important;
    margin: -30px auto 0 auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    margin-top: 1rem !important;
    font-size: 6rem !important; 
  }
  #vid {
    margin: -8rem auto 1rem auto;
    width: 50% !important;
  }
  .nav-pills {
      margin: 4rem 0 -1rem 4rem;
      width: 80%;
    }
  .challenge {
    padding: 20px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #vid {
    margin: -8rem auto 1rem auto;
    width: 100% !important;
  }
  .challenge {
    padding: 30px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #vid {
    margin: -10rem auto 1rem auto;
    width: 100% !important;
  }
  h1 {
  font-size: 5.5rem !important; 
  }
  .bg-glory {
    margin-top: 7rem;
  }
}

#header {
    margin: 0 !important;
    position: fixed;
    width: 100%;
    z-index: 99;
}

h1 {
  font-family: HaveHeartOne, "Permanent Marker";
}

h2 {
  font-size: 1.75rem;
}

h2,h3,h4 {
  font-family: 'TradeGothicLTPro-BdCn20'; 
	font-weight: normal; 
	font-style: normal;
  text-transform: uppercase;
}

p {
  font-family: "Merriweather Sans", sans-serif;
}

span {
  font-size: .75rem;
  font-style: italic;
}

.have-heart {
  font-family: HaveHeartOne, "Permanent Marker";
  font-size: 6rem !important;
  text-transform: none;
}

.navbar {
    height: 140px;
}

.navbar ul {
    list-style-type: none;
    margin-bottom: 35px;
    text-align: right;
}

.nav-item {
    color: #ffffff;
    font-family: "Merriweather Sans", sans-serif;
    margin: 5px;
}

.nav-item h2 {
  font-size: 1.5rem !important;
}

.navbar-brand img {
    margin-bottom: -40px;
}

.centered {
  margin-top: 5px;
  /* border-top: 2px #d7d4c6 solid; */
  /* border-bottom: 2px #f1eee4 solid; */
}

body {
  background-color: #000000 !important;
}

.align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.stat {
  font-size: 2rem;
  margin: 10px;
}

.bg-black {
  background-color: #000000 !important;
}

.nav.flex-column {
  background-color: #303030;
  border-radius: 10%;
}

.nav-link.active {
  background-color: #505050 !important;
  color: #ffffff !important;
}

.nav-link {
  background-color: #303030 !important;
  border-radius: 5px 5px 0 0;
}

.nav-link:hover {
  margin-left: -10px;
  transition: ease-in-out .5s;
}

a {
  color: #ffffff !important;
}

/* .bg-glory {
  background-color: #ef333b;
  content: " ";
  display: block;
  height: 250px; 
  margin: 2rem auto 0 auto;
  position: absolute;
  transform: skewY(-6deg) !important;
  z-index: 1;
} */
.bg-glory {
  background-image: linear-gradient(to bottom, #ba0c2f, #ba0c2f 50%, #ef333b 50%);
  /* background-attachment:fixed; */
  background-repeat: no-repeat;
  content: " ";
  display: block;
  position: absolute;
  transform: skewY(-6deg) !important;
  width: 105% !important;
  z-index: 1;
}

/* .bg-bulldawg {
  background-color: #ba0c2f;
  content: " ";
  display: block;
  height: 250px; 
  margin: 0 auto 8rem auto;
  position: relative;
  transform: skewY(-6deg) !important;
  z-index: 1;
} */

.text-white {
    height: 1200px;
    margin-top: 140px;
}

.diagonal {	
   position: relative;
}

.diagonal .column {
  margin-top: 4rem;
  transform: skewY(6deg);
}

.challenge {
  border: 1px #d7d4c6 solid;
  border-radius: 10px;
  margin: 5px;
}

.separator {
  margin-top: 4rem;
}

#logo {
  transition: ease-in-out 0.5s;
}

.modal-dialog {
  margin: 1rem auto !important;
}

.sticker {
  width: 100%;
}

#vid {
  z-index: 98;
}

#vid:hover {
  cursor: pointer;
}

.countdown-wrap {
    width: 100%;
    font-family: "Merriweather Sans", sans-serif;
    height: 120px;
    /* padding: 20px; */
  }
  
  .goal {
    font-size: 1.5rem;
    text-align: right;
    color: #FFF;
    @media only screen and (max-width : 640px) {
      text-align: center;  
    }
    
  }
  
  .glass {
    width: 100%;
    height: 20px;
    background: #f1eee4;
    border-radius: 10px;
    float: left;
    overflow: hidden;
  }
  
  #progress01 {
    float: left;
    width: 1%;
    height: 20px;
    background: #ef333b;
    z-index: 333;
    transition: ease-in-out 10s;
  }

  #progress02 {
    float: left;
    width: 16%;
    height: 20px;
    background: #ef333b;
    z-index: 333;
    transition: ease-in-out 10s;
  }

  #progress03 {
    float: left;
    width: 10%;
    height: 20px;
    background: #ef333b;
    z-index: 333;
    transition: ease-in-out 10s;
  }
  
  .goal-stat {
    width: 25%;
    height: 30px;
    padding: 10px;
    float: left;
    margin: 0;
    color: #FFF;
    
    @media only screen and (max-width : 640px) {
      width: 50%;
      text-align: center;
    }
  }
  
  .goal-number, .goal-label {
    display: block;
  }
  
  .goal-number {
    font-weight: bold;
  }

  .goal-label {
    margin-bottom: .5rem;
  }

  .btn-danger {
    background-color: #ba0c2f !important;
    margin-top: 10px;
  }

  .btn-danger:hover {
    background-color: #ef333b !important;
  }

  .btn-danger a:hover {
    text-decoration: none;
  }

  .hidden {
    display: none !important;
    transition: ease-in-out 2s;
  }

  .jumbotron {
    background-color: #000000 !important;
  }

  #topBtn a {
    font-family: 'TradeGothicLTPro-BdCn20'; 
    font-size: 20px !important;
  }

  /* #USMAP g rect {
    fill: rgb(0,0,0)
  } */
/*NOT WORKING .highcharts-axis-labels {
  width: 40px !important;
  text-overflow: ellipsis;
} */
.highcharts-xaxis-labels text {
  color: #fff !important;
  fill: #fff !important;
  width: 40px !important;
  text-overflow: ellipsis;
}
.highcharts-yaxis-labels text {
  color: #fff !important;
  fill: #fff !important;
}

#countycontainer .highcharts-legend .highcharts-legend-box {
  padding-top: 50px;
}

.highcharts-axis-title {
  color: #fff !important;
  fill: #fff !important;
}

#schools .highcharts-legend {
  display: none;
}

#chapters .highcharts-legend {
  display: none;
}
.highcharts-bar-series {
  min-width: 100px;
}

.pfad img{
  width: 40%;
  float: left;
  margin: 10px;
}

#USMAP {
  margin: 0 auto;
  text-align: center;
}


/** Modal */
#vidModal {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: -150px !important;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: -30px auto 0 auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}

/** Overlay */
/* .overlay {
  opacity: 0;
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
} */

/** JS */
.is-visible {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.givingDay {
  text-align: right;
}

.givingDay h3 {
  font-size: 34px;
  line-height: 1rem;
  margin-top: .5rem;
}

.givingDay h3 span{
  font-size: 45px;
  font-family: HaveHeartTwo, "Permanent Marker", cursive;
}

.giveBtn {
  text-align: left;
}

/* ul {
  list-style-type: none;
} */

.footer {
  background-color: #111111;
  border-top: 2px #303030 solid;
  padding-top: 60px;
}

.footer p {
  font-size: 12px;
}

.footer p span {
  font-family: 'TradeGothicLTPro-BdCn20'; 
  font-size: 10px;
  font-style: normal !important;
  font-weight: 300;
}

.patchesBig {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  top: -50px !important;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: -30px auto 0 auto;
  box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}