
  
#visualization_wrap {
    border:1px solid gray;
    position: relative;
    padding-bottom: 80%;
    height: 0;
    
}
#visualization {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.highcharts-title {
    font-family: 'TradeGothicLTPro-BdCn20'; 
    text-transform: uppercase;
}
